<h1 class="display-4 text-center">Timeline</h1>

<div class="text-center">
  <button class="btn btn-success" type="button" id="check" onclick="changeDisplay()">Changer de vue (verticale/horizontale)</button>
</div>

<!--vue verticale-->
<div id="timeline-display-vertical" style="display:none">
  <div class="timeline " data-vertical-start-position="right" data-vertical-trigger="150px">
    <div class="timeline__wrap">
      <div class="timeline__items">
        <% @posts.each do |post| %>
          <div class="timeline__item">
            <div class="timeline__content">
              <h3><%= post.title %></h3>
              <p><%= post.content %></p>
              <h4><%= post.created_at.strftime("%d/%m/%Y") %></h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--vue horizontale-->
<div id="timeline-display-horizontal" style="display:block">
  <div class="timeline" data-mode="horizontal" data-force-vertical-mode="800" visible-items="4">
    <div class="timeline__wrap">
      <div class="timeline__items">
        <% @posts.each do |post| %>
          <div class="timeline__item">
            <div class="timeline__content">
              <h3><%= post.title %></h3>
              <p><%= post.content %></p>
              <h4><%= post.created_at.strftime("%d/%m/%Y") %></h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--script pour passer de la vue verticale à la vue horizontale-->
<script>
    let displayBoolean = true
    function changeDisplay() {
        displayBoolean = !displayBoolean
        var displayVertical = document.getElementById("timeline-display-vertical");
        var displayHorizontal = document.getElementById("timeline-display-horizontal");
        if (displayBoolean === false){
            displayVertical.style.display = "block";
            displayHorizontal.style.display = "none";
        } else {
            displayVertical.style.display = "none";
            displayHorizontal.style.display = "block";
        }
    }
</script>
