<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Image:</strong>
  <% @post.images.each do |img|%>
  <li><a class="img-thumbnail"><span class="mgl-thumbnail-sizer"><%= image_tag img %></span></a></li>
<% end %>

<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>
