<div class="container">

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center m-5">
    <h1 class="display-4">Poster une nouvelle</h1>
    <p class="mgl-small-screens-only mgl-blue">Toutes les informations sur le formulaire et ses données sont consignées en dessous du formulaire.</p>
  </div>

  <main class="mx-5 mb-5">
    <div class="row align-items-start mgl-flip-column">
      <div class="col-8">
        <form action="/posts" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="qv1959Jiq0mNCT72daxO+n1MSagjKO0hBsgzfA4jba67KsMPZXrrcp+OZ1A6a85TNlI+1zMyZJ+DX8gUjFFAxA==">
          <div class="field">
            <label class="form-label" for="post_title">Titre de la nouvelle <small class="mgl-form-info">- obligatoire</small></label>
            <%= form.text_field :title, class: "form-control" %>
          </div>
          <div class="field">
            <label class="form-label" for="post_content">Texte de la nouvelle  <small class="mgl-form-info">- facultatif</small></label>
            <%= form.text_area :content, class: "form-control" %>
          </div>
          <div class="field">
            <label class="form-label" for="post_title">Images de la nouvelle <small class="mgl-form-info">- facultatives, maximum 6</small></label>
            <% 6.times do %>
              <%= form.file_field :images, multiple: true, class: "form-control" %>
            <% end %>
          </div>

<!-- à développer DEBUT -->
<!--      <div class="field"> -->
<!--        <label class="form-label" for="post_title">Vidéo de la nouvelle  <small class="mgl-form-info">- facultative, maximum 1</small></label> -->
<!--        <p style="color: red; font-weight: bold;">En cours de développement</p> -->
<!--      </div> -->
<!--      <div class="field"> -->
<!--        <label class="form-label" for="post_title">Document PDF la nouvelle <small class="mgl-form-info">- facultatif, maximum 1</small></label> -->
<!--        <p style="color: red; font-weight: bold;">En cours de développement</p> -->
<!--      </div> -->
<!-- à développer FIN -->


          <div class="field">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">J'accepte les conditions d'utilisations précisées ci-contre (sur petit écran : ci-après)</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Poster la nouvelle</button>
        </form>
      </div>
      <div class="col-4">
        <h2>Pour poster une nouvelle</h2>
        <ul class="mgl-steps-form">
          <li><span class="mgl-steps-form__number">1</span><span> Vous remplissez les champs du formulaire</span></li>
          <li><span class="mgl-steps-form__number">2</span><span> Vous cliquez sur le bouton "Poster une nouvelle"</span></li>
          <li><span class="mgl-steps-form__number">3</span><span> Les admins valident (ou non) la nouvelle</span></li>
          <li><span class="mgl-steps-form__number">4</span><span> Elle apparait dans la frise chronologique</span></li>
        </ul>
        <h2>Conditions d'utilisation</h2>
        <p>les textes, images et vidéo que que vous postez seront publiés sous licence libre CC-Zero
          une fois la nouvelle postée, vous ne pourrez pas la modifier
          la nouvelle pourra être modifiée à des fins de mise en page ou de correction orthographique par les administrateurs et administratrices de l'Escapade
          tout contenu insultant, publicitaire ou contrevenant au droit sera supprimé  par les administrateurs et administratrices de l'Escapade.</p>
        <h2>Contact</h2>
        <p>Contact pour toute réclamation concernant les contenus : <a href="mailto:contact@mairie-donzy.fr">contact@mairie-donzy.fr</a></p>
      </div>
    </div>
  </main>
<% end %>

</div>