<!--<nav class="p-3 bg-dark text-white">-->
<!--  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">-->
<!--    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">-->
<!--      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>-->
<!--    </a>-->

<!--    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">-->
<!--      <li><a href="#" class="nav-link px-2 text-secondary">Accueil</a></li>-->
<!--      <li><a href="#" class="nav-link px-2 text-white">Poster</a></li>-->
<!--    </ul>-->

<!--    <div class="text-end">-->
<!--      <button type="button" class="btn btn-outline-light me-2">Connexion</button>-->
<!--      <button type="button" class="btn btn-warning">Inscription</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<%= link_to root_path do %>
  <button type="button" class="btn btn-primary">Accueil</button>
<% end %>

<%= link_to new_post_path do %>
  <button type="button" class="btn btn-primary">Ajouter un post</button>
<% end %>

<%= link_to admin_posts_path do %>
  <button type="button" class="btn btn-primary">Administration</button>
<% end %>

<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%#= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
